<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Storage Client</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
    <script src="/script.js"></script>
</head>
<body>

<div class="container">
    <h1>Remote file manager</h1>

    <div class="file-upload">
        <label for="fileInput" class="custom-file-upload">
            <i class="fas fa-upload"></i> Choose File
        </label>
        <input type="file" id="fileInput">
        <button onclick="getFile()">Get File</button>
    </div>

    <span id="selectedFileName"></span>

    <textarea id="fileContent" rows="10" cols="50" placeholder="File content"></textarea>

    <div class="file-actions">
        <button onclick="saveFile()">Save File</button>
        <button onclick="deleteFile()">Delete File</button>
        <button onclick="appendToFile()">Append to File</button>
    </div>

    <div class="target-file-actions">
        <input type="file" id="targetFileInput" style="display: none;">
        <button onclick="selectTargetFile()">Select Target File</button>
        <button onclick="copyFile()">Copy File</button>
    </div>

    <div class="move-file-actions">
        <input type="text" id="targetDirectory" placeholder="Enter target directory">
        <button onclick="moveFile()">Move File</button>
    </div>

</div>

</body>
</html>
